* {
  margin: 0;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.main-container {
  background: rgba(229, 84, 115, 0.1);
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0px 70px 0px 130px;
}
.pera {
  width: 50%;
  color: #272727;
}
.btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e55473;
  color: white;
}
.btn2 {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: #e55473;
  color: white;
  margin-top: 10px;
}
.img {
  width: 100%;
  height: 610px;
  margin-bottom: -20px;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 630px;
  flex-direction: column;
}
.title {
  font-size: 70px;
  width: 800;
}
.Bonus-section {
  text-align: center;
  margin-top: 80px;
}
.b-pera {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.flower-boll1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 290px;
  height: 368px;
}
.flower-boll2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 290px;
  height: 368px;
}
.flower-boll3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 290px;
  height: 368px;
}
.img1 {
  height: 300px;
  width: 200px;
  margin-bottom: 0;
}
.text1 {
  color: #272727;

  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.color {
  display: flex;

  padding-left: 200px;
  gap: 20px;
  padding-top: 30px;
}
.text5 {
  display: flex;
  padding-left: 245px;
  gap: 150px;
  margin: 10px;
}

.hot-deals {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 50px;
  height: 350px;
  justify-content: center;
  align-items: center;
}
.hotp {
  display: flex;
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hot-titel {
  padding-top: 50px;
  text-align: center;
}
.hot-image {
  width: 250px;
  height: 300px;
  padding-left: 100px;
  justify-items: center;
}
span {
  color: #e55473;
}
.btnboos {
  display: flex;
  justify-content: center;
}

.instap {
  color: rgba(39, 39, 39, 0.6);

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  text-align: center;
}
.insta {
  text-align: center;
}
.instagram {
  padding-top: 50px;
}
.insta-img {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
.back {
  width: 230px;
  height: 300px;
}
.search {
  background-image: url(./Asset/Rectangle9.png);

  background-repeat: no-repeat;
  background-size: cover;
  margin: 145px;
}

.search-text-box {
  padding: 150px;
  text-align: center;
}
.inpt {
  padding: 10px 90px;
  border: none;
  border-radius: 5;
}
.finis {
  padding: 150px;
  background: #111010;
}
.insta1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
.instap1 {
  color: rgba(255, 255, 255, 0.9);

  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  text-align: center;
}
.white {
  color: white;
}

.about-us {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2023/06/20/20/31/flower-8077948_1280.jpg),
    linear-gradient(#886c6c00, #000000);
  background-repeat: no-repeat;
  background-blend-mode: darken;
  width: 100%;
  padding: 150px;
  text-align: center;
  margin-bottom: 50px;
}
.ab2 {
  padding-top: 90px;
  color: rgb(18, 17, 17);
}
.abutdec {
  color: rgba(251, 251, 251, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.about-text {
  font-family: Lato;
  font-size: 34px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
